---
import Layout from '../layouts/Layout.astro';
import ImageWithHeading from '../components/ImageWithHeading.astro';
import Categories from '../components/Categories.astro';
---

<Layout title="Native Harvest">
	<main>
		<ImageWithHeading />
		<Categories />
	</main>
